/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
}

/*General Styling*/
@font-face {
  font-family: Varela Round;
  src: url(https://fonts.google.com/specimen/Varela+Round#standard-styles);
}

a {
  color: white;
  text-decoration: none;
}

p {
  line-height: 23px;
}

/*CSS Grid Container*/
.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: 75px auto auto auto auto auto 300px;
  gap: 0px 0px;
  grid-template-areas:
    "header header header"
    ". intro ."
    ". pools ."
    ". beaches ."
    ". activities ."
    ". link ."
    "footer footer footer";
}

/*Styling header elements*/
.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  color: white;
  background-color: #006296;
  line-height: 75px;
  grid-template-areas:
    "logo home learn find language";
  grid-area: header;
}

.logo { grid-area: logo; }

.home { grid-area: home; }
.home:hover{
  background-color: white;
  color: #006296;
}

.learn { grid-area: learn; }


.find { grid-area: find;
}
.find:hover{
  background-color: white;
  color: #006296;
}

.language { grid-area: language;
  background-color: #005a8a;
  height: 75px;
}

.language:hover {
  background-color: white;
  color: #006296;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0%;
  background-color: #f9f9f9;
  min-width: 200px;
  z-index: 1;
  color: #006296;
}
.dropdown-content p {
  line-height: 48px;
}
.dropdown-content p:hover {
  background-color: #ededed;
}

.language:hover .dropdown-content {
  display: block;
  
}


/*Styling introduction elements*/
.intro { grid-area: intro;
  margin-top: 20px;
  margin-bottom: 60px;
}
.intro h1 {
  color: #006296;
  margin-bottom: 10px;
  font-size: 42px;
}

ul {
  margin-left: 30px;
}

li {
  line-height: 25px;
  margin-top: 5px;
}

figure {
  text-align: center;
  margin-top: 25px;
}


/*Structuring learning content elements*/
.pools {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "pool-content"
  grid-area: pools;
  margin-bottom: 60px;
}
.pools h2{
  color: #006296;
  margin-bottom: 10px;
}
.pools a {
  color: #006296;
}

.pool-content { grid-area: pool-content; }

.pool1 { grid-area: pool1; }

.pool2 { grid-area: pool2; }

.beaches {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "beach-content"
  grid-area: beaches;
  margin-bottom: 60px;
}
.beaches h2{
  color: #006296;
  margin-bottom: 10px;
}
.beaches a {
  color: #006296;
}

.beach-content { grid-area: beach-content; }

.beach1 { grid-area: beach1; }

.beach2 { grid-area: beach2; }

.activities {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "activities-content"
  grid-area: activities;
  margin-bottom: 20px;
}
.activities h2{
  color: #006296;
  margin-bottom: 10px;
}

.activities-content { grid-area: activities-content; }

.activities1 { grid-area: activities1; }

.activities2 { grid-area: activities2; }


/*Styling the link to find page*/
.link { grid-area: link;
  text-align: center;
}

button {
  width: 200px;
  height: 35px;
  font-size: 18px;
  border-width: 0px;
  color: white;
  background-color: #006296;
  margin-top: 20px;
  border-radius: 12px;
}
button:hover {
  color:#006296;
  background-color: #ededed;
  cursor: pointer;
}

.footer { grid-area: footer;
  background-color: #006296;
  color: white;
  font-family: 'Varela Round', sans-serif;
  margin-top: 50px;
  text-align: center;
}
.footer p {
  margin-top: 40px;
}
.footer a:hover {
  background-color: #005a8a;
}

/* Media Queries */
@media screen and (max-width: 425px) {
  .header h1 {
    font-size: 16px;
  }
  .header h3 {
    font-size: 9px;
  }
  .header img {
    width: 40px;
    height: 40px;
    margin-top: 15px;
  }
  iframe {
    width: auto;
    height: auto;
  }
  .intro {
    padding: 15px;
  }
  .pools {
    padding: 15px;
  }
  .beaches {
    padding: 15px;
  }
  .activities {
    padding: 15px;
  }
}