@font-face {
  font-family: Varela Round;
  src: url(https://fonts.google.com/specimen/Varela+Round#standard-styles);
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

p {
  line-height: 28px;
}

strong {
  font-weight: bold;
  text-size: 24;
  color: #006296;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: 75px auto auto auto auto auto 300px;
  gap: 0px 0px;
  grid-template-areas:
    "header header header"
    ". intro ."
    ". form ."
    ". suggestions ."
    ". results-heading ."
    ". results ."
    "footer footer footer";
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  color: white;
  background-color: #006296;
  line-height: 75px;
  grid-template-areas:
    "logo home learn find language";
  grid-area: header;
}

.logo { grid-area: logo; }

.home { grid-area: home; }
.home:hover{
  background-color: white;
  color: #006296;
}

.learn { grid-area: learn; }
.learn:hover{
  background-color: white;
  color: #006296;
}

.find { grid-area: find;
}

.language { grid-area: language;
  background-color: #005a8a;
  height: 75px;
}

.language:hover {
  background-color: white;
  color: #006296;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0%;
  background-color: #f9f9f9;
  min-width: 200px;
  //padding: 12px 16px;
  z-index: 1;
  color: #006296;
}
.dropdown-content p {
  line-height: 48px;
}
.dropdown-content p:hover {
  background-color: #ededed;
}

.language:hover .dropdown-content {
  display: block;
}

.intro { grid-area: intro;
  margin-top: 40px;
  margin-bottom: 30px;
}
.intro h1 {
  color: #006296;
  margin-bottom: 20px;
  font-size: 48px;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "form-head form-head"
    "age financial"
    "location background"
    "form-submit form-submit";
  grid-area: form;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.form h1 {
  margin-bottom: 20px;
}

label {
  width: 600px;
  color: #005a8a;
  padding:20px;
}

input {
  border: none;
  border-bottom: 2px solid #006296;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 20px;
}
input:focus {
  background-color: #ededed;
  border-bottom: 3px solid #006296;
}

select {
  border: none;
  border-bottom: 2px solid #006296;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 20px;
}

.form-head { grid-area: form-head;
  color: #006296
}

.form-submit { grid-area: form-submit;
  text-align: center;
}
.form button {
  width: 200px;
  height: 35px;
  font-size: 18px;
  border-width: 0px;
  color: white;
  background-color: #006296;
  margin-top: 20px;
  border-radius: 12px;
}
.form button:hover {
  color:#006296;
  background-color: #ededed;
  cursor: pointer;
}

.age { grid-area: age; }

.location { grid-area: location; }

.financial { grid-area: financial; }

.background { grid-area: background; }

.suggestions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "suggestion1 suggestion2";
  grid-area: suggestions;
  display: flex;
  margin-bottom: 40px;
}
.suggestions h1 {
  color: #006296;
  text-align: center;
  margin-top: 20px;
}
.suggestions p {
  padding: 15px;
}

.suggestion1 { grid-area: suggestion1; }

.suggestion2 { grid-area: suggestion2; }

.image1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.image2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.results-heading { grid-area: results-heading;
  text-align: center;
  color: #006296;
  margin-bottom: 10px;
}

.results {
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: auto auto auto auto auto;
  gap: 0px 0px;
  grid-template-areas:
    "result1"
    "result2"
    "result3"
    "result4"
    "load-more";
  grid-area: results;
  border-width: 2px;
  border-color: #006296;
  border-style: solid;
}
.results h2 {
  color: #006296;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
}
.results p {
  margin-left: 20%;
  line-height: 30px;
}
.results button {
  text-align: center;
  width:175px;
  height:50px;
  border-radius: 12px;
  border: none;
  color: white;
  background-color: #006296;
  margin-top: 8px;
  margin-bottom: 10px;
}
.results button:hover {
  color: #005a8a;
  background-color: #ededed;
  cursor: pointer;
}
.results a {
  color: #006296;
  text-decoration: underline;
}

.result1 { grid-area: result1;
  border: none;
  border-bottom: 2px #006296;
  border-color: #006296;
}

.result2 { grid-area: result2;
  border: none;
  border-bottom: 2px #006296;
  border-color: #006296;
  //border-style: solid;
}

.result3 { grid-area: result3;
  border: none;
  border-bottom: 2px #006296;
  border-color: #006296;
  //border-style: solid;
}

.result4 { grid-area: result4;
  border: none;
  border-bottom: 2px #006296;
  border-color: #006296;
  //border-style: solid;
}

.load-more { grid-area: load-more;
  color: white;
  background-color: #005a8a;
  height: 50px;
  text-align: center;
}
.load-more h2 {
  color: white;
}
.load-more:hover {
  background-color: #ededed;
  cursor: pointer;
}
.load-more h2:hover {
  color: #005a8a;
}


.footer { grid-area: footer;
  background-color: #006296;
  margin-top: 50px;
  height: 300px;
}

/* Media Queries */
@media screen and (max-width: 425px) {
  .header h1 {
    font-size: 16px;
  }
  .header h3 {
    font-size: 9px;
  }
  .header img {
    width: 40px;
    height: 40px;
    margin-top: 15px;
  }
  .language {
    //width: 75px;
  }
}

@media screen and (max-width: 1024px) {
  .suggestions {
    flex-direction: column;
  }
}